<!DOCTYPE html>
<html>
  <head>
    <title>Application submitted</title>
    {% include 'bootstrap.html' %}
  </head>
  <Body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        Jovian Careers
      </h1>
      <p class="alert alert-primary" role="alert">Your application for <b></b> has been submitted!</p>
    <h6>Full Name</h6>
    <div class ="mb-2">{{application['full_name']}}</div>
    <h6>Email</h6>
    <div class ="mb-2">{{application['email']}}</div>
    <h6>LinkedIn Profile(URL)</h6>
    <div class ="mb-2">{{application['linkedin_url']}}</div>
    <h6>Education</h6>
    <div class ="mb-2">{{application['education']}}</div>
    <h6>Work Experience</h6>
    <div class ="mb-2">{{application['work_experience']}}</div>
    <h6>Portfolio URL</h6>
    <div class ="mb-2">{{application['resume_url']}}</div>
    </div>
    {% include 'footer.html'%}
  </Body>
</html>