<!DOCTYPE html>
<html>
  <head>
    <title>jovian careers</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class = "container">
       <h1 class ="text-center mt-4 mb-4"">Jovian Careers</h1>
      <div class ="row" style ="margin-bottom:18px">
        <div class ="col-md-6">
           <p class ="lead">The job search website is an advanced, user-centric platform designed to connect job seekers with employers through a seamless and intuitive interface.  It provides a robust platform for job seekers to find their ideal job and it not only provides a platform for job discovery but also ensures a secure and personalized experience for its users.<br>This website is an innovative, user-friendly platform designed to seamlessly connect job seekers with employers. It offers a powerful tool for individuals to find their ideal job while ensuring a secure and personalized user experience.
           </p>
        </div>
        <div class ="d-none d-md-block col-md-6">
          <img src ="static/people.jpg" style = "height:320px; border-radius:4px;">
        </div>
     </div>
       <h2 class ="text-center mt-2">Job openings</h2>
      <div class ="mb-4 mt-4 ">
          <form action ="/search"  method ="post" class="d-flex" role="search" >
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name ="search" id="search" style="width:1065px" required>
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
      </div>
      <div>
         {% for job in jobs %}
           {% include 'job.html' %}
         {% endfor %}
      </div>
      <div class="text-center">
       <a href = "mailto:florashek24@gmail.com?subject=Questions%20about%20job%20openings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20Question%3A%20%3Center%20questions%20here%3E"class="btn btn-primary btn-lg ">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>